.game-board{
    display: grid;
    grid-template-columns: 60px 60px 60px;
    grid-template-rows: 60px 60px 60px 10px;
    justify-content: center;
}

.box {
    background-color: #d9d9d9;
    border: 1px solid black;
}